
.main{
    font-family: Arial, Helvetica, sans-serif;
    /* position: fixed; */
    width: 94%;
    height: 90%;
    margin: auto;
    margin-top: 20px;
    /* background-color: brown; */
}
body{
    background-color: #222c37;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header_learn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px  ;
}
.header_learn a{
    background-color: #530ad4;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 16px;
    border-radius: 4px;

}
.header_learn a i{
    margin-right: 4px;
}
.header_learn .close-icon{
    font-size: 30px;
    position: relative;
    top: 2px;
    margin-right: 4px;
    cursor: pointer;
    color: #ffffff;
}

.container{
    display: flex;
    background-color: #ffffff;
}
.list_learn {
    width: 40%;
    height: 540px;
    overflow:hidden;
}
.list_learn .title{
    display: flex;
    margin: 14px;
}

.list_learn .title p{
    font-weight: 600;
    color: #222c37;
    margin-left: 4px;
}

.list_learn .search{
    display: flex;
}

.list_learn .search input{
    width: 100%;
    flex: 1;
    border: 0.4px solid #dcdfe3;
    border-right: none;
    padding: 6px 8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.list_learn .search button{
    background-color: #ffffff;
    border: .4px solid #dcdfe3;
    padding: 0 10px;
    color: #575757;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.container .lesson{
    padding: 0 16px;
    height: 550px;
    overflow-Y:scroll;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
     border-radius: 4px;
    background-color: gray;
 }

.container .lesson p{
    margin:  12px 10px;
    color: #545454;
}

 .lesson ul.nav {
    
    list-style: none;

}
.lesson ul.nav li:first-child span{
    color: #2d2d2d;
}
.lesson ul.nav li:first-child  {
    background-color:#f2f2f2;
}
.lesson ul.nav li{
    padding: 8px 10px;
}
.lesson ul.nav li:hover{
    cursor: pointer;
    background-color: #f2f2f2 ;
}
.lesson ul.nav li span{
    font-size: 14px;

}
.lesson ul.nav li:hover span{
    color: #2d2d2d;
}
.lesson ul.nav li span{
    color: #707070  ;
    line-height: 1.2;
}
.video_learn{
    display: flex;
    width: 100%;
}
.video_learn--link{
    width: 100%;
    background-color: #332c36;
}